html, body /* page principale */
{
    height: 100vh;
    margin: 0;
    padding: 0;
}

#main
{
    display: flex;
    flex-flow: column wrap;
    font-family: 'HelveticaNeue';
    height: 100vh;
}

#column /* colonne gauche */
{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 384px;
    background-color: #008b8b;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#column #photo>img /* taille et position photo */
{
    width: 100%;
    border: .1rem solid #000000;
    border-radius: 50%;
    margin-top: 1rem;
}

.top /* barre titre des éléments internes à la colonne */
{
    width: 384px;
    line-height: 48px;
    background-color: #000000;
    color: #008b8b;
    font-size: 2em;
    text-transform: uppercase;
}

/* mis en forme contenu colonne */
#contact p
{
    margin-left: 50px;
    text-align: left;
}

a
{
    text-decoration: none;
    color: #000000;
}

#about p
{
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}
#hobby
{
    margin-bottom: 2em;
}
#hobby p
{
    display: inline-block;
    font-size: 3em;
    justify-content: space-around;
    margin: 0 20px 0 20px;
}
/* Nom et Fonction */
h1 /* identité bicolore */
{
    font-size: 3.2em;
    text-transform: uppercase;
}

.color1
{
    color: #008b8b;
}

#name, #experience
{
    margin-left: 5%;
}

#name h2 /* Profession et soulignement partiel */
{
    margin-top: -20px;
}

.under
{
    text-decoration: underline #008b8b;
    text-underline-position: under;
}
/* Mise en forme titre icônes+catégories */

#experience h2 /* titres catégories */
{
    width: 85%;
    font-size: 1.8em;
    text-transform: uppercase;
    border-bottom: 2px solid #008b8b;
    padding-bottom: 1%;
}

#experience i /* icônes */
{
    color: #008b8b;
    margin-right: 2%;
}

/* mise en forme Formation et Pro */
.first
{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    width: 100%;
}

.second
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 15%;

}

.third
{
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #008b8b;
    margin-right: 1em;
}

.third:before
{
    content: '';
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    background-color: #008b8b;
    border-radius: 50%;
}

.dot
{
    display: list-item;
    list-style: disc inside;
    color: #008b8b;
}

.job
{
    width: 50%;
}

.title
{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
}

/* Recommandations */

#last
{
    display: flex;
    width: 100%;
}

.more
{
    width: 30%;
}
/* paramètres responsive en fonction de la largeur d'écran */
@media screen and (max-width: 600px)
{
    #main
    {
        height: 100%;
        width: 100%;
    }
    #main, #experience, .first
    {
        flex-flow: column nowrap;
        align-items: center;
    }
    #column, .top
    {
        width: 100%;
    }
    #name
    {
        order: -1;
    }
    #name, #experience
    {
        margin-left: 0;
        width: 80%;
    }
    .first, .second, .job, #experience h2
    {
        width: 85%;
    }
}
@media only screen and (min-width: 600px)
{}
@media only screen and (min-width: 768px)
{}
@media only screen and (min-width: 992px)
{}
@media only scren and (min-width:1200px)
{}
